.btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    //font-family: Poppins;
    @extend %font-poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;

    transition: background-color 200ms, border-color 200ms, box-shadow 200ms;
}

.btn-primary {
    color: #FFFFFF;
    background-color: $color-blue-2;

    &:disabled {
        background-color: rgba(29, 120, 253, .4);
        border-color: rgba(29, 120, 253, .4);
        color: #fff;
    }
}

.btn-check:active + .btn-default,
.btn-check:checked + .btn-default {
    border-color: #111111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
