.Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #003866;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: HK Grotesk, Roboto, sans-serif;
}
